/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}
:root{
    --main-color: #141414;
    --second-color: #413d3d;
    --text-color: #fff;
    --gradient: linear-gradient(#141414, #413d3d);
}
/* Custom scroll bar */
html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #706f6f;
    padding: 15px 100px;
}
.logo img {
    width: 40px;
}
.navbar{
    display: flex;
}
.navbar li {
    position: relative;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--main-color);
    font-weight: 500;
}
.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after {
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a {
    padding: 10px 20px;
    color: var(--main-color);
    font-weight: 500;
}
.home {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(images/website.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.text h1 {
    font-size: 10rem;
    letter-spacing: 2px;
    color: #fff;
}

.text p {
    margin: 00.5rem 0 1rem;
    color: #fff;
}
.app-stores {
    display: flex;
}
.app-stores img {
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}
.heading {
    text-align: center;
}
.heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1 {
    font-size: 2rem;

/* css for registration and login form */
.content-section{
    background: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 375px;
    margin-right: 375px;
    color:white;
}

/* css for account update form */
.content-section2{
    background: transparent;
    padding: 10px 20px;
    margin-bottom: 20px;
    color:white;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FF0000;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #FF0000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.cruiseease h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    color: #FF0000;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    margin-left: -170px;
}

/* css for profile page */

.account-img{
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    margin-top: -65px;
    position: relative;
    text-align: center;
}

.account-heading{
    font-size: 2.5rem;
    margin-top: -10px;
}

.profile-text{
    margin: auto;
    padding: auto;
    text-align: center;
}

.media-body p{
    margin-bottom: -20px;
}
