{% extends "base.html"%}
{% block content %}
<div class="about">
    <h1>Get to know about us</h1>
    <p>CruiseEase, your key to hassle-free travels! We're not just a car rental app; we're your road trip companions.
    With a tap, unlock a world of wheels, from sleek city cruisers to rugged adventures. We're your trusty GPS, leading
    you to hidden gems and scenic routes. Say goodbye to roadblock stress and hello to memorable journeys. CruiseEase,
    where the open road becomes your playground. Start your engines and drive your dreams today!</p>
</div>
{% endblock content %}

