{% extends "base.html"%}
{% block content %}

<!-- link css stylesheet -->
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
 <!-- Home -->
<section class="home" id="home">
    <div class="txt">
        <h1>Looking to rent a car ,try CruiseEase</h1>
        <p>Try Cruise Ease for the best rental experience</p>
        <div class="app-stores">
            <img src="{{ url_for('static', filename='images/512x512.png')}}" alt="">
            <img src="{{ url_for('static', filename='images/ios.png')}}" alt="">
        </div>
    </div>
</section>
{% endblock content %}
