{% extends "base.html" %}
{% block head %}
    <!-- link css stylesheet -->
    <link rel="stylesheet" href="{{ url_for()'static',filename='css/services.css' }}">

{% endblock %}
{% block content %}
<section class="services" id="services">
        <div class="heading">
            <span>Services</span>
            <h1>From top dealers around the world</h1>
        </div>
        <div class="services-container">
            <div class="box">
        <a href="{{ url_for('view') }}?year=2016&makemodel=Honda Civic&price=900" onclick="getr34()">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car1.jpg')}}" alt="">
            </div>
        </a>
        <a href="{{ url_for('checkout') }}?year=2019&makemodel=Subaru WRX&price=1000">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car2.jpeg')}}" alt="">
            </div>
        </a>
        <a href="{{ url_for('checkout') }}?year=2019&makemodel=Mercedes Benz&price=1000">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car3.jpeg')}}" alt="">
            </div>
        </a>
        <a href="{{ url_for('checkout') }}?year=2018&makemodel=Jeep wrangler&price=1200">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car4.jpeg')}}" alt="">
            </div>
        </a>
        <a href="{{ url_for('checkout') }}?year=2023&makemodel=Volvo XC40&price=1500">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car5.jpeg')}}" alt="">
            </div>
        </a>
        <a href="{{ url_for('checkout') }}?year=2016&makemodel=LamboSporty X8&price=900">
            <div class="box-img">
                <img src="{{ url_for('static', filename='images/car6.jpg')}}" alt="">
            </div>
        </a>
    </div>

{% endblock %}
