{% extends "base.html" %}
{% block head %}
    <!-- link css stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/view.css') }}">

{% endblock %}
{% block content %}
    <div class="heading">
        <span>View</span>
        <h1>From top dealers around the world</h1>
    </div>
<div class="view-container">
    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car1.jpg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>2018 Honda Civic</h3>
        <h2>$900 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2018&makemodel=Honda Civic&price=900" class="btn">Hire Now</a>  
    </div>

    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car2.jpeg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>Subaru WRX</h3>
        <h2>$950 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2019&makemodel=Subaru WRX&price=950" class="btn">Hire Now</a>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car3.jpeg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>2018 Mercedes Benz</h3>
        <h2>$1000 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2019&makemodel=Mercedes Benz&price=1000" class="btn">Hire Now</a>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car4.jpeg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>Jeep Wrangler</h3>
        <h2>$1100 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2019&makemodel=Jeep Wrangler&price=1100" class="btn">Hire Now</a>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car5.jpeg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>Volvo XC40</h3>
        <h2>$1200 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2023&makemodel=Volvo XC40&price=1500" class="btn">Hire Now</a>
    </div>

    <div class="box">
        <div class="box-img">
            <img src="{{ url_for('static', filename='images/car6.jpg')}}" alt="">
        </div>
        <p>2023</p>
        <h3>SPORTX90</h3>
        <h2>$900 <span>/month</span></h2>
        <a href="{{ url_for('services') }}?year=2019&makemodel=SPORTX90&price=900" class="btn">Hire Now</a>
    </div>

    <div class="box">
           <div class="box-img">
               <img src="{{ url_for('static', filename='images/car7.jpeg')}}" alt="">
           </div>
           <p>2023</p>
           <h3>Chevrolet Camaro</h3>
           <h2>$1150 <span>/month</span></h2>
           <a href="{{ url_for('services') }}?year=2024&makemodel=Chevrolet Camaro&price=1150" class="btn">Hire Now</a>
       </div>

       <div class="box">
           <div class="box-img">
               <img src="{{ url_for('static', filename='images/car8.jpeg')}}" alt="">
           </div>
           <p>2023</p>
           <h3>Ford Mustang GT</h3>
           <h2>$1200 <span>/month</span></h2>
           <a href="{{ url_for('services') }}?year=2023&makemodel=Ford Mustang GT&price=1200" class="btn">Hire Now</a>
       </div>
</div>
{% endblock %}
